* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root {
  background: #F1F4FA;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #1B1F3B;
  -webkit-font-smoothing: antialiased;
}